/* main scss file */
/* place imports here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Base Styles */
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif; }
  body .wrap {
    width: 1000px;
    margin: 0 auto; }
  body .half {
    width: 50%;
    float: left;
    display: inline-block;
    padding: 0 2em;
    margin-bottom: -2px; }

h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px; }

h4 {
  font-size: 24px; }

p {
  padding-bottom: 16px;
  line-height: 1.5; }

ul {
  list-style-type: circle; }
  ul li {
    padding: 2.5px 0; }

/* Header styles */
header {
  background-color: white;
  border-bottom: 1px solid #f4f4f4; }
  header .logo {
    width: 7%; }
  header .nav {
    padding: 1em; }
    header .nav__list {
      display: inline-block;
      float: right; }
      header .nav__list--item {
        display: inline-block;
        padding: 25px 5px; }
        header .nav__list--item a {
          color: #9e96f2;
          text-decoration: none; }

.c__banner {
  height: 400px;
  max-height: 400px;
  background-color: #9e96f2;
  overflow: hidden; }
  .c__banner--content {
    position: relative; }
    .c__banner--content figcaption {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }

.callouts {
  padding: 6em 0;
  width: 100%;
  display: inline-block; }
  .callouts .c-box {
    width: 33%;
    float: left;
    padding: 1.25em;
    text-align: center; }
    .callouts .c-box h4 {
      color: #737373;
      letter-spacing: 2px;
      text-align: center;
      margin: .75em 0; }
    .callouts .c-box p {
      color: #737373;
      line-height: 1.5; }

.code-block {
  background-color: #9e96f2;
  padding: 5em 0;
  display: inline-block;
  width: 100%; }

.code-content {
  color: white; }

.code {
  margin: 0 auto; }

.home-browser-window {
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 550px;
  margin: 0 auto;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.4); }

.home-browser-dots-container {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  background-color: white; }

.home-browser-dots {
  margin: 0;
  padding: 0; }

.home-browser-dots .red {
  color: #e34c24; }

.home-browser-dots .yellow {
  color: #e4d735; }

.home-browser-dots .green {
  color: #2ad665; }

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none; }

.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px; }

footer {
  background-color: #f4f4f4;
  padding: 2em 0;
  text-align: left; }
