// _banner.scss
.c {
	&__banner {
		height: 400px;
		max-height: 400px;
		background-color: $base;
		&--content {
			position: relative;
			figcaption {
				position: absolute;
			  top: 50%;
			  left: 50%;
			  transform: translate(-50%, -50%);
			}
		}
	}
}