/* Header styles */

header {
	background-color: white;
	border-bottom: 1px solid #f4f4f4;
	.logo {
		width: 5%;
	}
	.nav {
		padding: 1em;
		&__list {
			display: inline-block;
			float: right;
			&--item {
				display: inline-block;
				padding-top: 25px;
				a {
					padding: 47px 20px;
					color: $base;	
					text-decoration: none;
				}
			}
		}
	}
}